[submodule "m4"]
	path = m4
	url = https://github.com/xiph/Icecast-m4.git
[submodule "src/common"]
	path = src/common
	url = https://github.com/xiph/Icecast-common.git
[submodule "src/hiredis"]
	path = src/hiredis
	url = https://github.com/redis/hiredis.git
